<link rel="stylesheet" href="home_styles.css">
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <span class="logo">ITRentHub</span>
        <div class="nav-links">
            <a href="/home_admin">หน้าแรก</a>
            <a href="/Apartment_admin">อพาร์ทเมนท์</a>
            <a href="/admin">แผงควบคุมผู้ดูแลระบบ</a>
        </div>
        <% if (user) { %>
            <form action="/logout" method="post">
                <button type="submit" class="login">ออกจากระบบ</button>
            </form>
        <% } else { %>
            <a href="/login_admin" class="login"> เข้าสู่ระบบ </a>
        <% } %>
        </nav>