<%- include("head.ejs") %>

<body>
    <div class="container">
        <%- include("sidebar.ejs") %>
        <!-- Main Content -->
        <main class="content">

            <!-- Card Section -->
            <section class="card">
                <h2>Chat Dormitory</h2>
        </main>
    </div>

    <style>
    </style>
</body>
</html>