<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เขียนรีวิว</title>
    <link rel="stylesheet" href="review_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
    <div class="container" style="margin: auto;">
        <h1>เขียนรีวิว</h1>
         <p>หอพัก: <strong><%= rental.Rental_Name %></strong></p>

        <form action="/write_review" method="POST">
            <div class="score-container">
                <label for="rating">คะแนน: </label>
                <input type="number" step="0.01" min="0" max="10" id="rating" name="rating" required>
                <label > / 10 </label>
            </div>
            <label for="review">รีวิว: </label>
            <textarea rows="5" id="review" name="review" required></textarea>

            <input type="hidden" id="rentalId" name="rentalId" value="<%= rental.Rental_ID %>"> <!-- Assigns role as 'user' -->

            <button type="submit" class="btn">ยืนยัน</button>
        </form>
    </div>
    </div>

</body>
</html>
