<%- include("head.ejs") %>

<body>
    <div class="container">
        <%- include("sidebar.ejs") %>
        <!-- Main Content -->
        <main class="content">
            <!-- Card Section -->
            <section class="card">
                <h2>Add Dormitory</h2>
                <p>add dormitory price</p>
                <form action="/insert_RoomData" method="GET">
                    <label>1. Room Name :</label>
                    <input type="text" name="Room_Name" autocomplete="off" required placeholder="Please fill this">
                    <label>2. Room Type :</label>
                    <input type="text" name="Room_Type" autocomplete="off" required placeholder="Please fill this">
                    <label>3. Size :</label>
                    <input type="text" name="Size" autocomplete="off" required placeholder="Number Only">
                    <label>4. Monthly Rental:</label>
                    <input type="text" name="Monthly_Rental" autocomplete="off" required placeholder="Int Only">
                    <label>5. Room Status :</label>
                    <input type="text" name="Room_Status" autocomplete="off" required placeholder="true or false only">
                    <label>6. Number Available Room :</label>
                    <input type="text" name="Number_Available_Room" autocomplete="off" required placeholder="Int Only">
                    <button type="submit" value="Submit" id="submit">Submit</button>
                </form>    
        </main>
    </div>

    <style>
        form {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-left: 15%;
            text-align: left;
        }

        input {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 80%;
            font-size: 16px;
        }

        button {
            margin-top: 10px;
            padding: 5px 5px;
            font-size: 16px;
            width: 20%;
            max-width: 20%;
        }
    </style>
</body>
</html>