<%- include("headernav.ejs") %>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Header -->
        <%- include("headtoppart.ejs") %>
        <!-- Main Section -->

        <main>
            <!-- Card Section -->
            <section class="content-box">
                <h2 class="add-dorm">เพิ่มหอพัก</h2>
                <h2 class="title">เลือกประเภทของหอพัก</h2>
                <form action="/insert_DormType" method="get">
                    
                    <button class="property-btn" name="Rental_Type" value="Dormitory">หอพัก</button>
                    <button class="property-btn" name="Rental_Type" value="Apartment">อพาร์ทเมนท์</button>
                </form>
            </section>
        </main>
    </div>
</div>
    <style>
        a {
            text-decoration: none;
        }
        
        .property-btn {
            display: block;
            width: 80%;
            max-width: 400px;
            margin: 20px auto;
            padding: 10px;
            font-size: 16px;
            border: none;
            background-color: white;
            border-radius: 20px;
            cursor: pointer;
        }

        .property-btn:hover {
            background-color: #e0f2ff;
            color: #4a90e2;
        }
    </style>
</body>
</html>