<%- include("headernav.ejs") %>
    <!-- Main Content -->
    <div class="main-content">
        <!-- Header -->
        <%- include("headtoppart.ejs") %>
        <!-- Main Content -->
        <main>
            <!-- Card Section -->
            <section class="content-box">
                <h2 class="add-dorm">Add Dormitory</h2>
                <h2 class="title">add dormitory data</h2>
                <form class="forming" action="/insert_RoomData" method="GET">
                    <label>1. Room Name :</label>
                    <input type="text" name="Room_Name" autocomplete="off" required placeholder="Please fill this">
                    <label>2. Room Type :</label>
                    <input type="text" name="Room_Type" autocomplete="off" required placeholder="Please fill this">
                    <label>3. Size :</label>
                    <input type="number" name="Size" autocomplete="off" required placeholder="Number Only">
                    <label>4. Monthly Rental:</label>
                    <input type="number" name="Monthly_Rental" autocomplete="off" required placeholder="Int Only">
                    <!-- <label>5. Room Status :</label> -->
                    <input type="hidden" name="Room_Status" autocomplete="off" value="1">
                    <label>5. Number Available Room :</label>
                    <input type="number" name="Number_Available_Room" autocomplete="off" required placeholder="Int Only">
                    <button class="submit" type="submit" value="Submit" id="submit">Submit</button>
                </form>
            </section>
        </main>
    </div>
</div>
    <style>
        input {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 80%;
            font-size: 16px;
        }
    </style>
</body>
</html>