<%- include("headernav.ejs") %>
    <!-- Main Content -->
    <div class="main-content">
        <!-- Header -->
        <%- include("headtoppart.ejs") %>
        <!-- Main Content -->
        <main>
            <!-- Card Section -->
            <section class="content-box">
                <h2 class="add-dorm">การเพิ่มหอพัก</h2>
                <h2 class="title">กรอกข้อมูลของหอพัก</h2>

                <form class="forming" action="/insert_DormData" method="post" enctype="multipart/form-data">
                    <label>1. ชื่อของหอพัก</label>
                    <input type="text" name="Rental_Name" autocomplete="off" required placeholder="โปรดกรอกข้อมูล">
                    <label>2. หอพักสำหรับผู้เช่าเพศไหน</label>
                    <select name="Gender" id="Type">
                        <option value="Man">เพศชาย</option>
                        <option value="Woman">เพศหญิง</option>
                        <option value="Mix">ได้ทั้งเพศชายและเพศหญิง</option>
                    </select>
                    <label>3. คำอธิบายของหอพัก</label>
                    <textarea name="Description" autocomplete="off" required placeholder="โปรดกรอกข้อมูล"></textarea>
                    <label>4. ช่องทางติดต่อ</label>
                    <div class="contact">
                        <div>
                            <label>เบอร์โทรศัพท์</label>
                            <input type="text" name="Phone_number" autocomplete="off" required placeholder="โปรดกรอกข้อมูล">
                        </div>
                        <div>
                            <label>ไอดีไลน์</label>
                            <input type="text" name="Line_ID" autocomplete="off" required placeholder="โปรดกรอกข้อมูล">
                        </div>
                    </div>
                    <label>5. ที่ตั้งของหอพัก</label>
                    <input type="text" name="Location" autocomplete="off" required placeholder="โปรดกรอกข้อมูล">
                    <label>6. เพิ่มรูปภาพหน้าปก (เพิ่มแค่ 1 รูปเท่านั้น)</label>
                    <input type="file" name="Photo" accept="image/*" required>
                    <label>7. เพิ่มรูปภาพหอพัก (ได้สูงสุด 50 รูป)</label>
                    <input type="file" name="Gallery" accept="image/*" id="gallery" required multiple>
                    <button class="submit" type="submit" value="Submit" id="submit">ยืนยัน</button>
                </form>
            </section>
        </main>
    </div>
</div>
    <style>

        .contact {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            margin-left: 10%;
            width: 60%;
        }
        input {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 80%;
            font-size: 16px;
        }
        textarea {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 80%;
            height: 100px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 4px;
            resize: none;
            font-size: 16px;
        }

        select {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 80%;
            padding: 5px 5px;
            font-size: 16px;
        }

    </style>

    <script>
        const fileInput = document.getElementById('gallery');

        fileInput.addEventListener('change', function() {
            if (fileInput.files.length > 50) {
                alert('You can upload a maximum of 50 files.');
                fileInput.value = ''; // Clear the input field
            }
        });
    </script>
</body>
</html>