<%- include("headernav.ejs") %>
    <!-- Main Content -->
    <div class="main-content">
        <!-- Header -->
        <%- include("headtoppart.ejs") %>
        <!-- Main Content -->
        <main>
            <!-- Card Section -->
            <section class="content-box">
                <h2 class="add-dorm">การเพิ่มหอพัก</h2>
                <h2 class="title">กรอกข้อมูลราคาต่าง ๆ</h2>

                <form class="forming" action="/insert_DormPrice" method="GET">
                    <label>1. ค่ามัดจำ :</label>
                    <input type="number" name="Advance_payment" autocomplete="off" placeholder="Int Only">
                    <label>2. ค่าไฟ :</label>
                    <input type="number" name="Electric_price" autocomplete="off" placeholder="Number Only">
                    <label>3. ค่าน้ำ :</label>
                    <input type="number" name="Water_price" autocomplete="off" placeholder="Number Only">
                    <label>4. ค่าบริการ :</label>
                    <input type="number" name="Service_price" autocomplete="off" placeholder="Number Only">
                    <label>5. ค่าโทรศัพท์ :</label>
                    <input type="number" name="Phone_price" autocomplete="off" placeholder="Number Only">
                    <label>6. ค่าอินเทอร์เน็ต :</label>
                    <input type="number" name="Internet_price" autocomplete="off" placeholder="Number Only">
                    <button class="submit" type="submit" value="Submit" id="submit">Submit</button>
                </form>
            </section>
        </main>
    </div>
</div>
    <style> 
        input {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 80%;
            font-size: 16px;
        }
    </style>
</body>
</html>