<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระบบจัดการหอพัก</title>
    <link rel="stylesheet" href="view_dormitory.css">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <div class="container">
        <!-- Left Sidebar -->
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="/select_dorm">Select dormitory</a></li>
                    <li><a href="/add_dorm">Add dormitory</a></li>
                    <li><a href="/view_dormitory">View dormitory</a></li>
                    <li><a href="/chat_dorm">Chat dormitory</a></li>
                    <li><a href="/reserve_dorm">reserve date</a></li>
                </ul>
            </nav>
        </aside>