<%- include("headernav.ejs") %>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Header -->
        <%- include("headtoppart.ejs") %>
        <!-- Main Section -->

        <main>
            <!-- Card Section -->
            <div class="main-content">
                <!-- Main Section -->
                <main>
                    <section class="content-box">
                        <h2>No Dormitory Found</h2>
                        <p>You don't have any dormitory rentals.</p>
                        <p>Add one now:</p>
                        <button class="add-btn" onclick="location.href='/add_dorm'">Add Dormitory</button>
                    </section>
                </main>
            </div>
        </main>
    </div>
</div>