<%- include("headernav.ejs") %>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Header -->
        <%- include("headtoppart.ejs") %>
            <!-- Card Section -->
                <!-- Main Section -->
                <main>
                    <section class="content-box">
                        <h2>ไม่มีหอพักที่เป็นเจ้าของ</h2>
                        <h3>คุณยังไม่ได้เป็นเจ้าของหอพัก</h3>
                        <br>
                        <p>เริ่มเพิ่มหอพักของคุณได้เลยตรงนี้:</p>
                        <button class="add-btn" onclick="location.href='/add_dorm'">เพิ่มหอพัก</button>
                    </section>
                </main>
    </div>
</div>