<%- include("headernav.ejs") %>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Header -->
        <%- include("headtoppart.ejs") %>
            <!-- Card Section -->
                <!-- Main Section -->
                <main>
                    <section class="content-box">
                        <h2>No Dormitory Found</h2>
                        <p>You don't have any dormitory rentals.</p>
                        <p>Add one now:</p>
                        <button class="add-btn" onclick="location.href='/add_dorm'">Add Dormitory</button>
                    </section>
                </main>
    </div>
</div>