<%- include("headernav.ejs") %>

<div class="main-content">
    <!-- Header -->
    <%- include("headtoppart.ejs") %>
        <!-- Card Section -->
            <!-- Main Section -->
            <main>
                <section class="content-box">
                    <a href="/dormitory/<%= rental %>" class="back-button">กลับ</a>
                    <h2>ตารางจองหอพัก</h2>
                    <p>ไม่มีข้อมูลการจองหอพัก</p>
                </section>
            </main>
</div>
</div>
<style>
.main-content p {
    text-align: center;
}

</style>