<%- include("headernav.ejs") %>

<div class="main-content">
    <!-- Header -->
    <%- include("headtoppart.ejs") %>
        <!-- Card Section -->
            <!-- Main Section -->
            <main>
                <section class="content-box">
                    <h2>ตารางจองหอพัก</h2>
                    <p>ไม่มีข้อมูลการจองหอพัก</p>
                </section>
            </main>
</div>
</div>