<%- include("headernav.ejs") %>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Header -->
        <%- include("headtoppart.ejs") %>
        <!-- Main Content -->
        <main>

            <!-- Card Section -->
            <section class="content-box">
                <h2>ตารางคนจองชมหอพัก</h2>
            </section>
        </main>
    </div>
</div>
    <style>
    </style>
</body>
</html>