<%- include("headernav.ejs") %>

    <div class="main-content">
        <%- include("headtoppart.ejs") %>
        <!-- Main Content -->
        <main>
            <section class="content-box">

            <!-- Card Section -->
                <section class="card">
                    <h2>Select Dormitory</h2>
                </section>
            </section>
        </main>
    </div>
</div>

    <style>
    </style>
</body>
</html>