<%- include("head.ejs") %>

<body>
    <div class="container">
        <%- include("sidebar.ejs") %>
        <!-- Main Content -->
        <main class="content">
            <!-- Card Section -->
            <section class="card">
                <h2>การเพิ่มหอพัก</h2>
                <p>กรุณากรอกข้อมูลของหอพักตามลำดับ</p>
                <a href="/fill_dormdata">
                    <button class="property-btn">
                        <h3>ข้อมูลของหอพัก</h3>
                        <p>กรุณากรอกข้อมูลนี้เป็นลำดับแรก</p>
                    </button>
                </a>
                <a href="/fill_price">
                    <button class="property-btn">
                        <h3>ราคา</h3>
                        <p>กรุณากรอกข้อมูลนี้เป็นลำดับที่สอง</p>
                    </button>
                </a>
                <a href="/fill_dormfac">
                    <button class="property-btn">
                        <h3>สิ่งอำนวยความสะดวก</h3>
                        <p>กรุณากรอกข้อมูลนี้เป็นลำดับที่สาม</p>
                    </button>
                </a>
                <a href="/fill_roomdata">
                    <button class="property-btn">
                        <h3>ข้อมูลของห้องพักที่ให้เช่า</h3>
                        <p>กรุณากรอกข้อมูลนี้เป็นลำดับสุดท้าย</p>
                    </button>
                </a>
            </section>
        </main>
    </div>

    <style>
        a {
            text-decoration: none;
        }
        
        .property-btn {
            display: block;
            width: 80%;
            max-width: 600px;
            margin: 20px auto;
            padding: 10px;
            font-size: 16px;
            border: none;
            background-color: white;
            border-radius: 20px;
            cursor: pointer;
        }

        .property-btn:hover {
            background-color: #e0e0e0;
        }
    </style>
</body>
</html>